* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    /* background-color: #050505; */


    overflow-x: hidden;
}

#main {
    width: 100vw;
    background-color: #050505;
    overflow-x: hidden;
}

@font-face {
    font-family: DegularDisplayBold;
    src: url(../font/fonnts.com-DegularDisplayDemo-Bold.otf);
    font-weight: bolder;
}

@font-face {
    font-family: DegularDisplayMedium;
    src: url(../font/fonnts.com-DegularDisplayDemo-Medium.otf);
    font-weight: bold;
}

@font-face {
    font-family: DegularDisplayRegular;
    src: url(../font/fonnts.com-DegularDisplayDemo-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: DegularDisplayLight;
    src: url(../font/fonnts.com-DegularDisplayDemo-Light.otf);
    font-weight: lighter;
}

@font-face {
    font-family: DegularDisplayLighter;
    src: url(../font/fonnts.com-DegularDisplayDemo-Thin.otf);
    font-weight: lighter;
}

#loader {
    width: 100vw;
    z-index: 1200000;
    position: relative; 
    overflow-x: hidden;
    background-color: #050505;
    height: 100vh;
}

#anime_div {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #aaa;
    height: 0%;
}

.reveal .parent {
    /* background-color: red; */
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    display: block;

}

.reveal .parent .child {
    display: block;
    /* background-color: red; */
}

#anime-text {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#anime-text h5 {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 1px;
    line-height: 18px;
    font-weight: 500;
    font-family: 'DegularDisplayLight';
    font-size: 14px;
}

.parent .child span {
    /* padding: 5px; */
    display: inline-block;
}

#loader h1 {
    position: absolute;
    font-family: 'DegularDisplayBold';
    top: 50%;
    text-align: center;
    opacity: 1;
    display: flex;
    justify-content: center;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: 500px;
    width: 100%;
}

#home {
    width: 100%;
    height: 100%;

    background-color: #050505;
}


#section_1 {

    width: 100vw;
    height: auto;
    padding-bottom: 200px;
    background: url(../img/hero\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 0 auto;
    width: 1200px;

}

nav {
    width: 100%;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

nav button {
    font-family: 'DegularDisplayRegular';
    font-size: 16px;
    padding: 10px 30px;
    background-color: #ffffff15;
    border: 1px solid #868e7979;
    border-radius: 5px;
    color: #fff;

}

.menu {
    background-color: #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.nav-control {
    display: flex;
    gap: 10px;
    align-items: center;


}

.banner-heading {
    margin-top: 50px;
}

.banner-heading h4 {
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'DegularDisplayRegular';
}

.banner-heading h1 {

    font-size: 10vw;
    line-height: 100px;

    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    font-family: 'DegularDisplayLighter';

}

.banner-pera {
    display: flex;
    margin-top: 35px;
    align-items: center;
    gap: 40px;
}

.short-pera {
    gap: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.banner-pera .short-pera p {
    width: 420px;
    line-height: 28px;
    font-size: 18px;
    font-family: 'DegularDisplayRegular';
    color: #aaa;

}

.h-line {
    width: 1px;
    height: 80px;
    background-color: #ffffff63;
}

.short-pera img {
    position: absolute;
    position: absolute;
    top: -160px;
    right: -80px;
    width: 250px;
    animation: rotate-animation 20s infinite linear;
    height: auto;

}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#home {
    width: 100vw !important;
    overflow-x: hidden;
    background-color: #050505;
}

.scroll-text {
    overflow-y: hidden;
    overflow-x: auto;
    border-top: 1px solid #868e792c;
    border-bottom: 1px solid #868e792c;
    white-space: nowrap;
    /* background-color: #039c3d; */
}

.scroll-text::-webkit-scrollbar {
    display: none;
}

.scroll-text h4 {
    display: inline-block;
    white-space: nowrap;
    padding: 0 30px;
    color: #fff;
    letter-spacing: 3px;
    font-family: "DegularDisplayLight";
}

.scroll-1 {
    animation: scroll 10s linear infinite;
    display: inline-block;
    font-size: 5vw;
    font-weight: 900;
    animation-play-state: running;
    /* Animation runs by default */
}

/* Pause the animation on hover */
.scroll-text:hover .scroll-1 {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.scroll-text h4:hover {
    color: #95c11e;
    /* Optional color change on hover */
}

#section_2 {

    width: 100vw;
    height: 100vh;
}



.about-flex {
    gap: 100px;
    display: flex;
    align-items: start;
    justify-content: space-between;

}

#about {
    margin-top: 100px;
    color: #fff;
}


.about-flex h2 {
    color: #868E79;
    font-size: 1.5vw;
    font-family: "DegularDisplayMedium";
    text-transform: uppercase;

    white-space: nowrap;
}

.about-text {
    letter-spacing: 1px;
    font-family: 'DegularDisplayLight';
    font-size: 35px;
    color: #868E79;
    line-height: 50px;
}

.a-heading {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.about-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #868E79;
}

#project {
    margin-top: 100px;
}


.project-flex {
    justify-content: space-between;
    display: flex;
}

.project-showcase {
    width: 40vw;
    background-color: #868E79;
    height: 90vh;

}

.p-heading {
    font-size: 78px;
    color: #fff;
    font-family: "DegularDisplayMedium";
}

.project-details h3 {
    margin-top: 20px;
    font-size: 25px;
    font-family: 'DegularDisplayMedium';
    color: #fff;
}

.project-showcase2 {
    width: 30vw;
    height: 80vh;
    background-color: #868E79;

}

.project-showcase3 {
    width: 40vw;
    height: 80vh;
    background-color: #868E79;
}

.project-showcase4 {

    width: 35vw;
    background-color: #868E79;
    height: 90vh;
}

.project-wrapper {
    gap: 50px;

    display: flex;
    align-items: start;
    justify-content: space-between;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.project-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}


#text_broke {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.top {
    width: 100vw;
    background-color: #050505;
    height: 50vh;
    position: absolute;
    top: 0%;
    /* top: -10%; */
    overflow: hidden;
    z-index: 100;
}

.bottom {
    width: 100vw;
    height: 50vh;
    z-index: 100;
    position: absolute;
    bottom: 0%;
    background-color: #050505;
}

.center {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

#top_h{
    
    position: absolute;
    font-size: 12vw;
    font-family: "DegularDisplayBold";
    /* top: 50%; */
    color: #191919;
    bottom: -65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#bottom_h{
    position: absolute;
    font-size: 12vw;
    font-family: "DegularDisplayBold";
    top:-2%;
    color: #191919;

    left: 50%;
    transform: translate(-50%,-50%);
}